<i
  class="fa fa-phone-square logo"
  aria-hidden="true"
></i>
<div id="menu">
  <ul>
    <li>
      <h1>
        <i
          class="fa fa-address-book logo"
          aria-hidden="true"
          style="padding: 3px"
        ></i>
      </h1>
    </li>
    <li><a routerLink="/dashboard">Töölaud</a></li>
    <li><a routerLink="/contacts">Kontaktid</a></li>
    <li><a routerLink="/add-contact">Lisa kontakt</a></li>
    <li style="float: right">
      <a *ngIf="isLoggedIn" href="#" (click)="logOut()"
        ><i class="fa fa-sign-out" aria-hidden="true"></i
      ></a>
    </li>
    <li style="float: right">
      <a *ngIf="isLoggedIn" routerLink="/my-user"
        ><i class="fa fa-user" aria-hidden="true"></i
      ></a>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
