<div id="menu">
  <ul>
    <li>
      <h1>
        <i class="fa fa-video-camera logo" aria-hidden="true"></i>
      </h1>
    </li>
    <li><a routerLink="/dashboard">Newest</a></li>
    <li><a routerLink="/contacts">My videos</a></li>
    <li><a routerLink="/add-contact">Upload</a></li>
    <li>
      <input class="search" type="search" placeholder="Find videos">
    </li>
    <li style="float: right">
      <a *ngIf="isLoggedIn" href="#" (click)="logOut()"
        ><i class="fa fa-sign-out" aria-hidden="true"></i
      ></a>
    </li>
    <li style="float: right">
      <a *ngIf="isLoggedIn" routerLink="/my-user"
        ><i class="fa fa-user" aria-hidden="true"></i
      ></a>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
