<br />
<br />
<br />
<br />
<br />
<br />
<form [formGroup]="searchContactForm" (ngSubmit)="findContact()">
  <div style="display: flex">
    <div class="container">
      <div class="user-box">
        <input
          type="text"
          name="name"
          formControlName="name"
          width="40%"
          (keyup)="findContact()"
        />
        <label>Find videos</label>
      </div>
    </div>
  </div>
  <br />
</form>
<div style="padding-left: 10%; padding-right: 10%;">
  <h2>My videos</h2>
  <div *ngIf="contacts.length > 0">
    <ul class="contacts">
      <li *ngFor="let contact of contacts">
        <a routerLink="/detail/{{ contact.id }}">
          <span class="badge">{{ contact.id }}</span>
          {{ contact.name }} &nbsp;&nbsp;&nbsp;&nbsp; {{ contact.phone }}
        </a>
      </li>
    </ul>
  </div>
  <div *ngIf="contacts.length <= 0 && searchContactForm.value.name != ''">
    <p class="content">
      Video called {{ keyword }} was not found!<br /><br /><br />
      <small
        >if you want to upload video please<br /><a routerLink="/add-contact"
          >add video</a
        ></small
      >
    </p>
  </div>
  <ul *ngIf="showPagination" class="pagination">
    <li
      *ngFor="let page of pages"
      [ngClass]="{ 'page-item': true, active: currentPage === page }"
      (click)="onPageChange(page)"
    >
      <span class="page-link">{{ page }}</span>
    </li>
  </ul>
</div>
