<div class="container">
  <form [formGroup]="addContactForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data" >
    <div class="user-box">
      <input type="text" name="title" formControlName="name" id="title" #name />
      <label>Tile</label>
    </div>
    <div class="user-secret-box">
      <input type="textarea" name="code" formControlName="code" id="description" />
      <label>Description</label>
    </div>
    <div class="user-box">
      <input type="text" name="tags" formControlName="tags" id="tags" />
      <label>Video tags</label>
    </div>
    <div class="user-box">
      <input type="file" id="video" name="video" (change)="onFileSelect($event)">
      <label for="video">Select a video</label>
    </div>
    <div class="error-text" *ngIf="!formIsValid">
      Please check all fields!
    </div>
    <a class="button-text" style="float: right">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <input type="submit" value="UPLOAD" />
    </a>
  </form>
</div>
