<div class="container">
  <form [formGroup]="addContactForm" (ngSubmit)="onSubmit()">
    <div class="user-box">
      <input type="text" name="name" formControlName="name" id="name" #name />
      <label>Pärisnimi</label>
    </div>
    <div class="user-secret-box">
      <input [type]="password" name="code" formControlName="code" id="code" />
      <label>Salajane kood</label>
      <button type="button" (click)="showSecret()">
        <i class="fa fa-eye" aria-hidden="true" *ngIf="showingSecret"></i>
        <i
          class="fa fa-eye-slash"
          aria-hidden="true"
          *ngIf="!showingSecret"
        ></i>
      </button>
    </div>
    <div class="user-box">
      <input type="text" name="phone" formControlName="phone" id="phone" />
      <label>Telefoni number</label>
    </div>
    <div class="error-text" *ngIf="!formIsValid">
      Palun kontrolli kõiki välju!
    </div>
    <a class="button-text" style="float: right">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <input type="submit" value="LISA KONTAKT" />
    </a>
  </form>
</div>
